@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* giving the css here in the index file for the font and the li to have the comman styling */

@layer base {
  body {
    @apply font-[Raleway];
    /* @apply overflow-x-hidden; */
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

/* .skillBackground {
  animation: appearSkill 5s ease-in infinite;
} */
.nameBackground {
  animation: appear 2s ease-in forwards;
}

/* Animations using key frames */
@keyframes appear {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes appearSkill {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
